.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #7d8e29;
  border-radius: 15px;
  margin: auto;
  max-width: 1300px;
  margin-top: 20px;
  background-color: #333333;
  padding-left: 1vw;
  padding-right: 1vw;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    margin: 10px;
  }
  .about-me-image-container img {
    margin-top: 15px;
  }
}

.about-me-image-container img {
  width: 100%;
  max-width: 500px;
  border-radius: 10%;
  overflow: hidden;
}

.text-container {
  margin-top: 15px;
  margin-bottom: 15px;
  flex-grow: 1;
  padding-left: 30px;
}

.knowledge-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-me-credits {
  font-size: 0.75em;
  text-align: center;
}

.about-me-credits a {
  text-decoration: underline;
  cursor: pointer;
}

.about-me-title {
  font-size: 1.5em; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
