.work-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  border: 5px solid #7d8e29;
  border-radius: 15px;
}

.work-item-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.work-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  width: 100%;
}

.work-item-title,
.work-item-subtitle,
.work-item-description {
  margin: 10px 0;
}
