.work-experience-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1300px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.work-experience-container > div {
  flex: 1 0 300px;
  margin: 10px;
}
